<admin-card cardTitle="Roles"
            icon="tags"
            [createButton]="service.getCardButtons()"
            (action)="create()">
  <table *ngIf="items"
         class="table table-striped table-sm"
         [class.table-responsive]="!ui.isLargeScreen">
    <thead>
      <tr>
        <th *ngFor="let header of service.tableColumns"
            [class]="header.class || ''">{{ header.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td class="text-right"
            nowrap>
          <button type="button"
                  class="btn btn-secondary btn-sm"
                  (click)="handleAction({ type: 'viewUsers', payload: item})">
              <i class="fa fa-fw fa-search"></i>
              Users
              <span class="badge badge-success">{{ item?.principals?.length || 0 | number }}</span>
          </button>
          <button type="button"
                  class="btn btn-primary btn-sm"
                  (click)="handleAction({ type: 'update', payload: item})">
            <i class="fa fa-fw fa-edit"></i>
          </button>
          <button type="button"
                  class="btn btn-danger btn-sm"
                  (click)="handleAction({ type: 'delete', payload: item})">
            <i class="fa fa-fw fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</admin-card>
