@import '../../styles/variables';

.navbar {
  background: #eee;
  height    : 50px;
  padding   : 0;
}

.sidebar-toggle {
  background: #e3e3e3;
  box-shadow: none;
  color     : $brand-info !important;
  height    : 50px;
  z-index   : 3000;
  margin-top: -4px;
  padding   : 0;
  width     : 50px;

  i {
    border-radius: 10px;
    font-size    : 22px;
    height       : 36px;
    opacity      : 0.9;
    padding      : 7px;
    width        : 36px;

    &:hover {
      background: #aaa;
      color     : #eee;
    }
  }
}

.navbar-brand {
  color      : $brand-primary !important;
  font-weight: 500;
  text-align : center;
  width      : 200px;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.btn.dropdown-toggle {
  border        : none;
  box-shadow    : none;
  color         : darken($brand-info, 10%);
  padding       : 3px 15px;
  text-transform: capitalize;
  margin-right: 50px;
  &:hover {
    background: #e3e3e3;
  }

  &::before {
    margin-top: 20px;
  }
}

.img-wrap {
  border-radius: 25px;
  display      : inline-block;
  width        : 44px;
  height       : 44px;
  border       : 1px solid $brand-info;
  margin       : auto;

  .img-avatar {
    border       : 0;
    border-radius: 25px;
    height       : 42px;
    opacity      : 0.9;
    padding      : 1px;
    width        : 42px;
  }
}

.dropdown-menu {
  margin-top: 50px;
}

.morebar-toggle {
  background: #e3e3e3;
  box-shadow: none;
  color     : $brand-info !important;
  height    : 50px;
  z-index   : 3000;
  padding   : 0;
  position: absolute;
  right: 15px;
  width     : 50px;

  i {
    border-radius: 10px;
    font-size    : 22px;
    height       : 36px;
    opacity      : 0.9;
    padding      : 7px;
    width        : 36px;

    &:hover {
      background: #aaa;
      color     : #eee;
    }
  }
}
