@import '../../styles/variables';

.navbar {
  background: #f7f7f7;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  height: 50px;
  padding: 0;
}

.sidebar-toggle {
  background: #e7e7e7;
  box-shadow: none;
  color: $info !important;
  height: 50px;
  z-index: 3000;
  padding: 0;
  width: 50px;

  i {
    border-radius: 10px;
    font-size: 22px;
    height: 36px;
    opacity: 0.9;
    padding: 7px;
    width: 36px;

    &:hover {
      background: #aaa;
      color: #eee;
    }
  }
}

.navbar-brand {
  color: $primary !important;
  font-size: 22px;
  font-weight: 500;
  padding: 2px;
  text-align: center;
  width: 200px;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.btn.dropdown-toggle {
  border: none;
  box-shadow: none;
  color: darken($info, 10%);
  padding: 3px 20px;
  text-transform: capitalize;
  margin-right: 20px;
  &:hover {
    background: #eee;
  }
}

.img-wrap {
  border-radius: 25px;
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 1px solid $info;
  margin: auto;

  .img-avatar {
    border: 0;
    border-radius: 25px;
    height: 42px;
    opacity: 0.9;
    padding: 1px;
    width: 42px;
  }
}

.dropdown-menu-right {
  font-size: 14px;
  margin-top: 0;
  text-align: center;
  width: calc(100% - 18px);
}

.dropdown-item {
  padding: 5px 10px;
}

.morebar-toggle {
  background: #e7e7e7;
  box-shadow: none;
  color: $info !important;
  height: 50px;
  z-index: 3000;
  padding: 0;
  position: absolute;
  right: -15px;
  width: 50px;

  i {
    border-radius: 10px;
    font-size: 22px;
    height: 36px;
    opacity: 0.9;
    padding: 7px;
    width: 36px;

    &:hover {
      background: #aaa;
      color: #eee;
    }
  }
}
