@import '../../styles/variables';

.app-body {
  background: lighten($success, 35%);
  border-top: 1px solid #ccc;
  min-height: calc(100vh - 90px);
  margin-bottom: 0;
  padding: 15px 15px 150px 15px;
  position: absolute;
  width: 100%;

  &.open {
    margin-left: 250px;
    width: calc(100% - 250px);
  }

  &.no-header {
    height: 100vh;
  }
}
