<div class="row align-items-center">
  <div class="col-12 col-lg-6">
    <ngx-card cardTitle="Change Password"
              headerBg="secondary text-info">
      <ngx-form [config]="formConfig"
                [item]="item"
                (action)="handleAction($event)">
      </ngx-form>
    </ngx-card>
  </div>
  <div class="col-12 col-lg-6">
    <ngx-card cardTitle="Password Reset"
              headerBg="secondary text-info">
      <p class="text-justify mb-2">
        An email with a password recovery link will be sent to the user's email address.
      </p>
      <button type="button"
              class="btn btn-danger btn-block"
              (click)="handleAction({ type: 'reset', payload: item })">
          Trigger Password Reset
        </button>
    </ngx-card>
  </div>
</div>
