@import '../ui/styles/variables';

.dash-card {
  height: 100px;
  text-decoration: none;

  .card-block {
    padding: 15px;
  }
}

.card-icon-left {
  background: $success;
  color: #fff;
  margin-right: -15px;
  padding: 0;
}
