<table *ngIf="item"
       class="table table-hover table-sm">
  <thead>
    <tr>
      <th [style.text-align]="'left'">Name</th>
      <th [style.text-align]="'left'">Email</th>
      <th [style.text-align]="'right'">
        <div *ngIf="items"
             ngbDropdown
             class="ml-auto">
          <button id="drop1"
                  class="btn btn-success"
                  ngbDropdownToggle>
            <i class="fa fa-plus"></i>
            &nbsp; Add User &nbsp;
          </button>
          <div class="dropdown-menu"
               aria-labelledby="drop1">
            <button *ngFor="let option of options"
                    class="dropdown-item"
                    (click)="handleAction({ type: 'addUser', payload: option })">
              {{ option.fullName }}
            </button>
            <span *ngIf="!options || options.length === 0"
                  class="p-1 lead">
              All Users Assigned
            </span>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td><i class="fa fa-user"></i> &nbsp; {{ item?.fullName }}</td>
      <td>{{ item?.email }}</td>
      <td [style.text-align]="'right'">
        <button class="btn btn-danger btn-sm"
                (click)="handleAction({ type: 'removeUser', payload: item })">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
