<table *ngIf="item"
       class="table table-hover table-sm">
  <thead>
    <tr>
      <th [style.text-align]="'left'">Name</th>
      <th [style.text-align]="'left'">Email</th>
      <th [style.text-align]="'right'">
        <ngx-toolbar-drop [config]="dropConfig"
                          (action)="handleAction($event)">
        </ngx-toolbar-drop>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td><i class="fa fa-user"></i> &nbsp; {{ item?.fullName }}</td>
      <td>{{ item?.email }}</td>
      <td [style.text-align]="'right'">
        <button class="btn btn-danger btn-sm"
                (click)="handleAction({ type: 'removeUser', payload: item })">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
