@import 'mixins';

.navbar {
  background: #eee;
  height    : 50px;
  padding   : 0;

  .img-wrap {
    border-radius: 25px;
    display      : inline-block;
    width        : 42px;
    height       : 42px;
    border       : 1px solid $brand-info;
    margin       : auto;

    .img-avatar {
      border       : 0;
      border-radius: 25px;
      height       : 40px;
      opacity      : 0.9;
      padding      : 1px;
      width        : 40px;
    }
  }

  .nav-user-drop {
    cursor      : pointer;
    font-size   : 15px;
    margin-right: 15px;
    position    : absolute !important;
    right       : 0;
    top         : 4px;
    @include ripple($brand-info);

    .dropdown-menu {
      font-size : 14px;
      float     : right;
      margin-top: 5px;
      right     : -15px;
    }
  }
}

.navbar-brand {
  font-weight  : 500;
  height       : 50px;
  margin       : 0;
  padding-right: 15px;
  text-align   : center;
  width        : 250px;

  a {
    color      : $brand-primary;
    line-height: 1;

    &:hover {
      text-decoration: none;
    }
  }
}

.sidebar-toggle {
  border-radius: 15px;
  left         : 235px;
  padding      : 7px;
  position     : absolute;
  top          : 8px;
  z-index      : 3000;
}

.sidebar {
  background: $brand-info;
  display   : block;
  height    : 100vh;
  margin    : 0 0 0 -250px;
  position  : fixed;
  top       : 50px;
  width     : 250px;

  &.open {
    box-shadow : inset -1px 0 3px rgba(0, 0, 0, 0.3);
    margin-left: 0;
  }

  .nav {
    display: block;
  }

  .nav-title {
    padding       : 10px 10px 0;
    margin-bottom : 0;
    font-size     : 15px;
    // font-weight   : 500;
    color         : lighten($brand-info, 27%);
    text-transform: uppercase;
    width         : 250px;

    &:after {
      content   : "";
      display   : block;
      height    : 1px;
      width     : 20px;
      margin    : 10px 0 5px;
      background: lighten($brand-info, 27%);
      clear     : both;
    }
  }

  .nav-item {
    position: relative;
    margin  : 0;

    .nav-link {
      display: block;
    }
  }

  a {
    color    : #f9f9f9;
    font-size: 16px;
    padding  : 8px 20px;
    width    : 250px;
    @include ripple($brand-primary);

    &:hover {
      background: darken($brand-success, 15%);
    }

    &.active {
      background : lighten($brand-success, 33%);
      color      : darken($brand-success, 15%);
      font-weight: 500;

      i {
        color: darken($brand-success, 15%);
      }
    }
  }

  i {
    color       : #f3f3f3;
    margin-right: 20px;
  }

  .badge {
    float     : right;
    margin-top: 3px;
  }
}

body {
  font-size: 15px;
  height   : 100%;
}

.app-body,
.breadcrumb,
.footer,
.sidebar,
.sidebar-toggle,
admin-sidebar,
body,
breadcrumb {
  @include transition(all 0.33s ease-in-out);
}

label {
  margin-bottom: 0;
}

.input-group .form-control,
[contenteditable].form-control,
[type=email].form-control,
[type=password].form-control,
[type=tel].form-control,
[type=text].form-control,
formly-field-input,
formly-field-select,
input.form-control,
input[type=email],
input[type=number],
input[type=password],
input[type=text],
select,
textarea,
textarea.form-control {
  width: 100%;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card-header,
.modal-header {
  color: #f7f7f7;

  hr {
    border-top: 1px solid #f7f7f7;
    float     : left;
    width     : 30px;
  }
}

.modal-header button {
  color: #eee;

  &:hover {
    color: #fff;
  }
}

th {
  font-weight: 500;
}

.input-group-addon {
  background: transparent;
  border    : transparent;
}

.has-danger .input-group-addon {
  background: transparent;
}

.nav-tabs {
  box-shadow: none;

  .nav-link {
    border     : 1px solid transparent;
    color      : #fff;
    margin-left: 3px;
  }

  .nav-item.show .nav-link,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:focus:hover,
  .nav-link.active:hover {
    border          : 1px solid;
    box-shadow      : none;
    color           : $brand-primary;
    background-color: #fff;
    border-color    : #ddd #ddd #fff #ddd;
  }

  .nav-link,
  .nav-link:focus {
    box-shadow: none;
  }

  .nav-link:focus:hover,
  .nav-link:hover {
    background-color: transparent;
    border          : 1px solid;
    border-bottom   : 0;
    color           : $brand-success;
  }
}

button {
  cursor: pointer;
}

.btn.dropdown-toggle::before {
  display       : inline-block;
  float         : right;
  width         : 0;
  height        : 0;
  margin-left   : 8px;
  margin-top    : 8px;
  vertical-align: middle;
  content       : "";
  border-top    : 0.3em solid;
  border-right  : 0.3em solid transparent;
  border-left   : 0.3em solid transparent;
}

breadcrumb.open .breadcrumb {
  margin-left: 250px;
}

.breadcrumb {
  background   : #f7f7f7;
  height       : 40px;
  line-height  : 40px;
  margin-bottom: 0;
  margin-left  : 0;
  margin-top   : 50px;
  padding      : 0 0 0 20px;
}

.breadcrumb-item {
  color      : $brand-primary;
  font-weight: 500;

  &.active {
    font-weight: 400;
  }

  a {
    @include ripple($brand-primary);
  }
}

.app-body {
  background    : lighten($brand-success, 33%);
  border-top    : 1px solid #ccc;
  height        : calc(100vh - 90px);
  margin-left   : 250px;
  padding-bottom: 40px;

  &.no-header {
    height: 100vh;
  }
}

.footer {
  background : #f3f3f3;
  border-top : 1px solid #ccc;
  height     : 40px;
  line-height: 40px;
  margin-left: 0;
  padding    : 0 15px;
  width      : 100vw;

  &.open {
    margin-left: 250px;
    width      : calc(100vw - 250px);
  }
}
