.ngx-datatable {
  display: flex;
  margin-bottom: 10px;
  min-height: 425px;
}

.table {
  // min-height: 425px;
}

.datatable-header {
  border-bottom: 3px solid #ddd;
  font-weight: 500;
  margin-top: 10px;
}

.datatable-row-odd {
  padding: 3px;
}

.datatable-row-even {
  background: #f9f9f9;
  padding: 3px;
}

ngx-table-footer {
  background: #f7f7f7;
  display: flex;
  margin-bottom: -20px;
  margin-left: -15px;
  padding: 10px 20px;
  width: calc(100% + 30px);
}
